<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<table border=1>
    <thead>
    <td>Name</td>
    <td>Points</td>
    <td>State</td>
    <td>Room</td>
    <td>Picture</td>
    </thead>
    <tbody>
    {% for rows in data %}
		{% if not rows %}
            <p>No Data is available</p>
        {% endif %}
        <tr>
            <td>{{rows[1]}}</td>
            <td>{{rows[2]}}</td>
            <td>{{rows[3]}}</td>
            <td>{{rows[4]}}</td>
            <td>{{rows[5]}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
</body>
</html>